@media (width <=1364.99px)
{
    header > .container-fluid > .row:first-child > div.col:first-child
    {
        flex-basis: 100%;
        border-bottom: 1px solid #ffffff21;
    }
    .meta-nav
    {
        padding: 30px 15px;
    }
}

@media (width <=946.99px)
{
    header > .container-fluid > .row:first-child > div.col:nth-child(2),
    header > .container-fluid > .row:first-child > div.col:nth-child(3)
    {
        flex-grow: 1;
        border-bottom: 1px solid #ffffff21;
    }
}

@media (width <= 575.99px)
{
    [class^="col"]
    {
        flex-basis: 100%;
    }
    .meta-nav
    {
        padding: 15px 0px;
        border: none;
    }
}