* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "General Sans", sans-serif;
}
:root {
  --neon-green: #c8f423;
  --dark-grey: #0d0d0d;
  --light-grey: rgba(13, 13, 13, 0.02);
  --transition-timing-function: cubic-bezier(0.84, 0.03, 0.06, 0.9);
  --columns: 12;
}
::selection {
  background: var(--neon-green);
  color: var(--dark-grey);
}
.img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.justify-content-end {
  justify-content: flex-end;
}
.align-items-center {
  align-items: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -12px;
}
.container {
  max-width: 1320px;
  margin: 0px auto;
}
.container-fluid {
  max-width: 100%;
  margin: 0px auto;
}
[class^="container-"] {
  padding: 0px 12px;
}
[class^="col"] {
  padding-right: 12px;
  padding-left: 12px;
  box-sizing: border-box;
}
.col {
  flex-basis: auto;
}
.flex-grow-1 {
  flex-grow: 1 !important;
}
.flex-wrap {
  flex-wrap: wrap;
}
.col-1 {
  width: calc(100% / var(--columns) * 1);
}
.col-2 {
  width: calc(100% / var(--columns) * 2);
}
.col-3 {
  width: calc(100% / var(--columns) * 3);
}
.col-4 {
  width: calc(100% / var(--columns) * 4);
}
.col-5 {
  width: calc(100% / var(--columns) * 5);
}
.col-6 {
  width: calc(100% / var(--columns) * 6);
}
.col-7 {
  width: calc(100% / var(--columns) * 7);
}
.col-8 {
  width: calc(100% / var(--columns) * 8);
}
.col-9 {
  width: calc(100% / var(--columns) * 9);
}
.col-10 {
  width: calc(100% / var(--columns) * 10);
}
.col-11 {
  width: calc(100% / var(--columns) * 11);
}
.col-12 {
  width: calc(100% / var(--columns) * 12);
}
.p-0 {
  padding: 0px !important;
}
.px-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.m-0 {
  margin: 0px !important;
}
.border-0 {
  border: none !important;
}
.bg-light {
  background: #ffffff;
}
.bg-neon-green {
  background: var(--neon-green);
}
.text-dark {
  color: var(--dark-grey) !important;
}
.position-relative {
  position: relative !important;
}
.overflow-hidden {
  overflow: hidden !important;
}
.d-none {
  display: none;
}
p {
  opacity: 50%;
}

/* Loader */

body.loading {
  overflow: hidden;
}
#loader-wrapper {
  position: fixed;
  inset: 0;
  background: var(--dark-grey);
  z-index: 999999;
}
#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  width: 6px;
  color: #fff;
  animation: paddles 0.75s ease-out infinite;
}

#loader:before {
  content: "";
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 15px;
  width: 12px;
  height: 12px;
  background-color: var(--neon-green);
  border-radius: 50%;
  animation: ballbounce 0.6s ease-out infinite;
}

@keyframes paddles {
  0% {
    box-shadow:
      -25px -10px,
      25px 10px;
  }

  50% {
    box-shadow:
      -25px 8px,
      25px -10px;
  }

  100% {
    box-shadow:
      -25px -10px,
      25px 10px;
  }
}

@keyframes ballbounce {
  0% {
    transform: translateX(-20px) scale(1, 1.2);
  }

  25% {
    transform: scale(1.2, 1);
  }

  50% {
    transform: translateX(15px) scale(1, 1.2);
  }

  75% {
    transform: scale(1.2, 1);
  }

  100% {
    transform: translateX(-20px);
  }
}

header {
  background: #0d0d0d;
}
.border-bottom {
  border-bottom: 1px solid #ffffff21;
}
header > .container-fluid > .row:first-child > div.col:last-child {
  flex-grow: 1;
}
.navbar-brand > img {
  max-height: 39px;
  filter: hue-rotate(19deg);
}
.meta-nav {
  padding: 30px 38px;
  color: #ffffff;
  border-width: 0px 1px 0px 0px;
  border-style: solid;
  border-color: #ffffff21;
}
.icon {
  width: 41px;
  aspect-ratio: 1;
  background: var(--neon-green);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  color: #0d0d0d;
}
.meta-nav .details {
  position: relative;
}
.meta-nav .details > p {
  font-weight: 500;
  color: #ffffff;
}
.meta-nav .details > a {
  color: rgba(255 255 255 / 50%);
  text-decoration: none;
  display: block;
  overflow: hidden;
  position: relative;
}
header > .container-fluid > .row:last-child > div.col:nth-child(2) {
  flex-grow: 1;
}

header > .container-fluid > .row:nth-child(2) > div.col:nth-child(2) {
  border-bottom: 1px solid rgba(0 0 0 / 10%);
}
nav.meta-nav {
  padding-top: 0px;
  padding-bottom: 0px;
  align-items: center;
}
ul.navbar-nav {
  padding: 0px;
}
ul.navbar-nav > li.nav-item {
  display: inline-block;
  padding: 38px 0px;
  position: relative;
  transition: all 500ms var(--transition-timing-function);
}
ul.navbar-nav > li.nav-item:not(:last-child) {
  margin-right: 50px;
}
ul.navbar-nav > li.nav-item::before {
  content: "";
  width: 5px;
  height: 0%;
  background: var(--neon-green);
  position: absolute;
  top: -6px;
  left: 0;
  right: 0;
  margin: 0px auto;
  transition: all 500ms var(--transition-timing-function);
}
ul.navbar-nav > li.nav-item:hover::before,
ul.navbar-nav > li.nav-item.active::before {
  height: 34%;
}
ul.navbar-nav > li.nav-item::after,
.meta-nav .details::after {
  content: "";
  width: 0%;
  height: 5px;
  background: var(--neon-green);
  position: absolute;
  bottom: 0;
  left: auto;
  right: 0;
  margin: 0px auto;
  transition: all 500ms var(--transition-timing-function);
}
.meta-nav .details::after {
  background: var(--neon-green);
  height: 0.09px;
}
ul.navbar-nav > li.nav-item:hover::after,
ul.navbar-nav > li.nav-item.active::after,
.meta-nav:hover .details::after {
  right: auto;
  left: 0;
  width: 100%;
}
ul.navbar-nav > li.nav-item > a.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--dark-grey);
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  font-size: 15px;
  display: block;
  position: relative;
  overflow: hidden;
  color: rgba(0 0 0 / 50%);
}
ul.navbar-nav > li.nav-item > a.nav-link::after,
.meta-nav .details > a::after,
.dropdown-menu > li > a.dropdown-item::after {
  content: attr(data-title);
  color: rgba(0 0 0 / 100%);
  display: block;
  text-wrap: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  transition: all 700ms var(--transition-timing-function);
}
ul.navbar-nav > li.nav-item:hover > a.nav-link::after,
ul.navbar-nav > li.nav-item.active > a.nav-link::after,
.meta-nav:hover .details > a::after {
  transform: translate(-50%, -50%);
}
.meta-nav:hover .details > a::after {
  color: var(--neon-green);
}
ul.navbar-nav > li.nav-item > a.nav-link > span,
.meta-nav .details > a > span,
.dropdown-menu > li > a.dropdown-item > span {
  display: block;
  transform: translateY(0);
  transition: all 700ms var(--transition-timing-function);
}
ul.navbar-nav > li.nav-item:hover > a.nav-link > span,
ul.navbar-nav > li.nav-item.active > a.nav-link > span,
.meta-nav:hover .details > a > span,
.dropdown-menu > li:hover > a.dropdown-item > span {
  transform: translateY(-100%);
}
nav.meta-nav > .search > i {
  font-size: 23px;
}
ul.navbar-nav > li.dropdown > ul.dropdown-menu {
  min-width: 250px;
  position: absolute;
  top: 100%;
  background: var(--dark-grey);
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  transform: scaleY(0);
  transform-origin: top;
  z-index: 99;
  transition: all 500ms var(--transition-timing-function);
}
ul.navbar-nav > li.dropdown:hover > ul.dropdown-menu {
  opacity: 1;
  transform: scaleY(1);
  visibility: visible;
}
ul.navbar-nav > li.dropdown > ul.dropdown-menu > li {
  position: relative;
  list-style: none;
  padding-bottom: 12px;
}
ul.navbar-nav > li.dropdown > ul.dropdown-menu > li:not(:last-child) {
  margin-bottom: 12px;
}
ul.navbar-nav > li.dropdown > ul.dropdown-menu > li:not(:last-child)::after,
ul.navbar-nav > li.dropdown > ul.dropdown-menu > li:not(:last-child)::before {
  content: "";
  width: 0%;
  height: 1px;
  background: #ffffff21;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 500ms var(--transition-timing-function);
}
ul.navbar-nav > li.dropdown > ul.dropdown-menu > li:not(:last-child)::after {
  width: 100%;
}
ul.navbar-nav
  > li.dropdown
  > ul.dropdown-menu
  > li:not(:last-child):hover::before {
  background: var(--neon-green);
  width: 100%;
}
ul.navbar-nav > li.dropdown > ul.dropdown-menu > li > a.dropdown-item {
  text-decoration: none;
  font-size: 14px;
  color: rgba(255 255 255 / 60%);
  text-transform: capitalize;
  display: block;
  position: relative;
  overflow: hidden;
}
.dropdown-menu > li > a.dropdown-item::after {
  left: 0;
  transform: translate(0, 50%);
}
.dropdown-menu > li:hover > a.dropdown-item::after {
  transform: translate(0, -50%);
  color: var(--neon-green);
}
.main-btn {
  display: flex;
  padding: 30px 50px;
  justify-content: center;
  align-items: center;
  background: var(--neon-green);
  text-decoration: none;
  position: relative;
  overflow: hidden;
}
.main-btn::before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--dark-grey);
  position: absolute;
  left: -100%;
  top: 0;
  transition: all 700ms var(--transition-timing-function);
}
.main-btn:hover::before {
  left: 0;
}
.main-btn > span {
  position: relative;
  overflow: hidden;
}
.main-btn span.btn-label {
  display: block;
  text-transform: uppercase;
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: var(--dark-grey);
  position: relative;
  transition: all 500ms var(--transition-timing-function);
}
.main-btn > span::after {
  content: attr(data-title);
  text-wrap: nowrap;
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: var(--dark-grey);
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  transition: all 500ms var(--transition-timing-function);
}
.main-btn:hover > span::after {
  transform: translate(-50%, -50%);
  color: #ffffff;
}
.main-btn:hover span.btn-label {
  transform: translateY(-100%);
}

.rotating-text-animation {
  height: 2.5rem;
  overflow: hidden;
  position: relative;
}

.rotating-text-inner {
  will-change: transform;
  transition: transform 0.6s cubic-bezier(0.84, 0.03, 0.06, 0.9);
}

.rotating-text-animation span {
  display: block;
  height: 2.5rem;
  line-height: 2.5rem;
  white-space: nowrap;
}

/* Header End Here */

/* Banner */

.banner-left {
  background-color: var(--neon-green);
  background-image:
    linear-gradient(
      0deg,
      transparent 24%,
      var(--light-grey) 25%,
      var(--light-grey) 26%,
      transparent 27%,
      transparent 74%,
      var(--light-grey) 75%,
      var(--light-grey) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--light-grey) 25%,
      var(--light-grey) 26%,
      transparent 27%,
      transparent 74%,
      var(--light-grey) 75%,
      var(--light-grey) 76%,
      transparent 77%,
      transparent
    );
  background-size: 120px 120px;
}
.banner-content {
  padding: 120px 42px;
}
.banner-content > h1 {
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 63px;
  letter-spacing: -3px;
  margin-bottom: 30px;
}
.banner-content > h1 + div span {
  font-size: 55px;
  font-weight: 700;
}
.aos-letter-reveal span {
  display: inline-block;
  letter-spacing: inherit;
}
.letter-reveal span {
  display: inline-block;
  opacity: 0;
  transform: scale(0.6);
  will-change: transform, opacity;
}
.banner-right
{
  background: url(../../images/hero-image.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 500px;
}
.test
{
  width: 100%;
  height: 100vh;
}